# project title : Financial Market News Sentiment Analysis

# Objective : analysing financial market news sentiment

**importing libraries**

In [230]:
import pandas as pd
import numpy as np

**importing dataset**

In [231]:
df = pd.read_csv('/content/Financial Market News.csv',encoding = 'unicode_escape')

In [232]:
df.head()

,Date,Label,News 1,News 2,News 3,News 4,News 5,News 6,News 7,News 8,...,News 16,News 17,News 18,News 19,News 20,News 21,News 22,News 23,News 24,News 25
0,01-01-2010,0,McIlroy's men catch cold from Gudjonsson,Obituary: Brian Walsh,Workplace blues leave employers in the red,Classical review: Rattle,Dance review: Merce Cunningham,Genetic tests to be used in setting premiums,Opera review: La Bohème,Pop review: Britney Spears,...,Finland 0 - 0 England,Healy a marked man,Happy birthday Harpers & Queen,Win unlimited access to the Raindance film fes...,Labour pledges £800m to bridge north-south divide,Wales: Lib-Lab pact firm despite resignation,Donald Dewar,Regenerating homes regenerates well-being in ...,Win £100 worth of underwear,TV guide: Random views
1,02-01-2010,0,Warning from history points to crash,Investors flee to dollar haven,Banks and tobacco in favour,Review: Llama Farmers,War jitters lead to sell-off,Your not-so-secret history,Review: The Northern Sinfonia,Review: Hysteria,...,Why Wenger will stick to his Gunners,Out of luck England hit rock bottom,Wilkinson out of his depth,Kinsella sparks Irish power play,Brown banished as Scots rebound,Battling Wales cling to lifeline,Ehiogu close to sealing Boro move,Man-to-man marking,Match stats,French referee at centre of storm is no strang...
2,03-01-2010,0,Comment: Why Israel's peaceniks feel betrayed,Court deals blow to seizure of drug assets,An ideal target for spooks,World steps between two sides intent on war,What the region's papers say,Comment: Fear and rage in Palestine,Poverty and resentment fuels Palestinian fury,Republican feud fear as dissident is killed,...,FTSE goes upwardly mobile,At this price? BP Amoco,Go fish,Bosnian Serb blows himself up to evade law,Orange float delayed to 2001,"Angry factory workers root out fear, favours a...",Smith defied advice on dome payout,Xerox takes the axe to jobs,Comment: Refugees in Britain,Maverick who sparked the new intifada
3,04-01-2010,1,"£750,000-a-goal Weah aims parting shot",Newcastle pay for Fletcher years,Brown sent to the stands for Scotland qualifier,Tourists wary of breaking new ground,Canary Wharf climbs into the FTSE 100,Review: Bill Bailey,Review: Classical,Review: New Contemporaries 2000,...,More cash on way for counties,Cairns carries Kiwis to victory,Year of Blanchflower's flourish when Spurs sto...,New direct approach brings only pay-per-blues,Third Division round-up,Second Division round-up,First Division round-up,McLean ends his career with a punch,Heskey grabs triple crown,Weah on his way as City march on
4,05-01-2010,1,Leeds arrive in Turkey to the silence of the fans,One woman's vision offers loan lifeline,Working Lives: How world leaders worked,Working Lives: Tricks of the trade,"Working Lives: six-hour days, long lunches and...",Pop review: We Love UK,World music review: Marisa Monte,Art review: Hollingsworth/Heyer,...,Duisenberg in double trouble,Pru to cut pension charges,Art review: Paul Graham,Shearer shot sparks Boro humiliation,Ridsdale's lingering fears as Leeds revisit Tu...,Champions League: Rangers v Galatasaray,Champions League: Lazio v Arsenal,Lazio 1 - 1 Arsenal,England in Pakistan,England given olive-branch reception

In [233]:
df.describe()

,Date,Label,News 1,News 2,News 3,News 4,News 5,News 6,News 7,News 8,...,News 16,News 17,News 18,News 19,News 20,News 21,News 22,News 23,News 24,News 25
count,4262,4214,4210,4202,4192,4169,4158,4151,4144,4135,...,4071,4064,4054,4049,4040,4030,4016,4010,4006,4004
unique,4219,115,4183,4183,4172,4155,4127,4125,4121,4114,...,4053,4040,4035,4026,4017,4006,3993,3982,3986,3972
top,',1,Morning session,Round-up,Corrections and clarifications,Scoreboard,Business news in brief,Weekly Roundup,Corrections and clarifications,Radio pick of the day,...,Corrections and clarifications,Round-up,Round-up,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Corrections and clarifications,Radio pick of the day,Corrections and clarifications,Corrections and clarifications
freq,43,2166,6,4,5,3,4,4,6,3,...,3,4,7,7,6,6,8,5,9,6

In [234]:
df.columns

Index(['Date', 'Label', 'News 1', 'News 2', 'News 3', 'News 4', 'News 5',
       'News 6', 'News 7', 'News 8', 'News 9', 'News 10', 'News 11', 'News 12',
       'News 13', 'News 14', 'News 15', 'News 16', 'News 17', 'News 18',
       'News 19', 'News 20', 'News 21', 'News 22', 'News 23', 'News 24',
       'News 25'],
      dtype='object')

In [235]:
df.shape

(4262, 27)

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4262 entries, 0 to 4261
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     4262 non-null   object
 1   Label    4214 non-null   object
 2   News 1   4210 non-null   object
 3   News 2   4202 non-null   object
 4   News 3   4192 non-null   object
 5   News 4   4169 non-null   object
 6   News 5   4158 non-null   object
 7   News 6   4151 non-null   object
 8   News 7   4144 non-null   object
 9   News 8   4135 non-null   object
 10  News 9   4127 non-null   object
 11  News 10  4118 non-null   object
 12  News 11  4106 non-null   object
 13  News 12  4100 non-null   object
 14  News 13  4091 non-null   object
 15  News 14  4083 non-null   object
 16  News 15  4075 non-null   object
 17  News 16  4071 non-null   object
 18  News 17  4064 non-null   object
 19  News 18  4054 non-null   object
 20  News 19  4049 non-null   object
 21  News 20  4040 non-null   object
 22  News 21  4030 non-null   object
 23  News 22  4016 non-null   object
 24  News 23  4010 non-null   object
 25  News 24  4006 non-null   object
 26  News 25  4004 non-null   object
dtypes: object(27)
memory usage: 899.1+ KB

In [237]:
df.index#used to get no of rows

RangeIndex(start=0, stop=4262, step=1)

**Get feature selection**

In [238]:
' '.join(str(x) for x in df.iloc[1,2:27])

"Warning from history points to crash Investors flee to dollar haven Banks and tobacco in favour Review: Llama Farmers War jitters lead to sell-off Your not-so-secret history Review: The Northern Sinfonia Review: Hysteria Review: The Guardsman Opera: The Marriage of Figaro Review: The Turk in Italy Deutsche spells out its plans for diversification Traders' panic sends oil prices skyward TV sport chief leaves home over romance Leader: Hi-tech twitch Why Wenger will stick to his Gunners Out of luck England hit rock bottom Wilkinson out of his depth Kinsella sparks Irish power play Brown banished as Scots rebound Battling Wales cling to lifeline Ehiogu close to sealing Boro move Man-to-man marking Match stats French referee at centre of storm is no stranger to controversy"

In [239]:
news = []
for row in range(0,len(df.index)):
  news.append(' '.join(str(x) for x in df.iloc[row,2:27]))

In [240]:
df['combined_news'] = news

In [241]:
df.head(1)

,Date,Label,News 1,News 2,News 3,News 4,News 5,News 6,News 7,News 8,...,News 17,News 18,News 19,News 20,News 21,News 22,News 23,News 24,News 25,combined_news
0,01-01-2010,0,McIlroy's men catch cold from Gudjonsson,Obituary: Brian Walsh,Workplace blues leave employers in the red,Classical review: Rattle,Dance review: Merce Cunningham,Genetic tests to be used in setting premiums,Opera review: La Bohème,Pop review: Britney Spears,...,Healy a marked man,Happy birthday Harpers & Queen,Win unlimited access to the Raindance film fes...,Labour pledges £800m to bridge north-south divide,Wales: Lib-Lab pact firm despite resignation,Donald Dewar,Regenerating homes regenerates well-being in ...,Win £100 worth of underwear,TV guide: Random views,McIlroy's men catch cold from Gudjonsson Obitu...

In [242]:
df_new = df[['Date','combined_news','Label']]

In [243]:
df_new

            Date                                      combined_news Label
0     01-01-2010  McIlroy's men catch cold from Gudjonsson Obitu...     0
1     02-01-2010  Warning from history points to crash Investors...     0
2     03-01-2010  Comment: Why Israel's peaceniks feel betrayed ...     0
3     04-01-2010  £750,000-a-goal Weah aims parting shot Newcast...     1
4     05-01-2010  Leeds arrive in Turkey to the silence of the f...     1
...          ...                                                ...   ...
4257  20-03-2021  Barclays and RBS shares suspended from trading...     0
4258  21-03-2021  2,500 Scientists To Australia: If You Want To ...     1
4259  22-03-2021  Explosion At Airport In Istanbul Yemeni former...     1
4260  23-03-2021  Jamaica proposes marijuana dispensers for tour...     1
4261  24-03-2021  A 117-year-old woman in Mexico City finally re...     1

[4262 rows x 3 columns]

In [244]:
df_new.shape

(4262, 3)

In [246]:
df_new = df_new[df_new['Label'].isin(['0','1'])]

In [247]:
X = df_new['combined_news']
y = df_new['Label']

In [248]:
X.isnull().sum()

0

In [249]:
y.isnull().sum()

0

In [250]:
df_new.shape

(4101, 3)

In [251]:
df_new['Label'].value_counts()

Label
1    2166
0    1935
Name: count, dtype: int64

In [252]:
df_new.shape

(4101, 3)

In [253]:
df_new['Label'].value_counts()

Label
1    2166
0    1935
Name: count, dtype: int64

**Code to convert combined_new column into vector form using TF-IDF Vectorizer:**

In [256]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [257]:
# Initialize the TF-IDF Vectorizer
tfidf = TfidfVectorizer(lowercase=True, stop_words='english', ngram_range=(1, 2), max_features=10000)

In [259]:
X = tfidf.fit_transform(df_new['combined_news'])

In [260]:
X.shape

(4101, 10000)

**Get train test split**

In [261]:
from sklearn.model_selection import train_test_split

In [262]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, stratify = y, random_state = 2529)

**Import all models**

In [271]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [272]:
models = {
    "SVM": SVC(kernel='rbf'),
    "Logistic Regression": LogisticRegression(max_iter=1000, random_state=42),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=42),
    "KNN": KNeighborsClassifier(n_neighbors=5),
    "Naive Bayes": GaussianNB(),
    "Gradient Boosting": GradientBoostingClassifier(random_state=42),
    "AdaBoost": AdaBoostClassifier(n_estimators=100, random_state=42)
}

In [273]:
results = {}

In [275]:
X_train_dense = X_train.toarray()
X_test_dense = X_test.toarray()

**to evaluate models**

In [277]:
for name, model in models.items():
    print(f"Training {name}...")
    model.fit(X_train_dense, y_train)  # Train the model
    y_pred = model.predict(X_test_dense)  # Make predictions
    acc = accuracy_score(y_test, y_pred)  # Calculate accuracy
    results[name] = acc

Training SVM...
Training Logistic Regression...
Training Decision Tree...
Training Random Forest...
Training KNN...
Training Naive Bayes...
Training Gradient Boosting...
Training AdaBoost...

In [278]:
print("Summary of Results:")
for model, acc in sorted(results.items(),reverse=True):
    print(f"{model}: {acc:.4f}")

Summary of Results:
SVM: 0.5093
Random Forest: 0.5020
Naive Bayes: 0.4915
Logistic Regression: 0.4890
KNN: 0.4947
Gradient Boosting: 0.4980
Decision Tree: 0.5085
AdaBoost: 0.5232